
.Cellar {
    margin-bottom: 15px;
}

.cellarImage {
    width: 200px;
    height: 200px;
    margin-left: 44px;
    border-radius: 2px;
    box-shadow: 4px 4px 10px;
    margin-top: 22px;
}


.Cellar ul{
    list-style: none;
}

.container {
    display: flex;
    border: 1px solid grey;
    width: 750px;
    margin: auto;
    box-shadow: 4px 4px 10px;
    background-color:  rgba(255, 250, 240, 0.7);
    color: black;
    letter-spacing: 1px;
}

.cellarImage:hover {
    transform: scale(0.98);
}

.btnContainer {
   display: flex;
   flex-direction: column;
   justify-content: right;
   margin: auto;
}

.Cellar button {
    height: 40px;
    width: 100px;
    margin-left: 20px;
    background-color: inherit;
    border: 1px solid black;
    font-family: 'Cormorant Unicase', serif;
    letter-spacing: 1px;
    font-size: 14px;
}

.Cellar button:hover {
    background-color: #f7f7df;
    transform: scale(.95);

}